pip
numpy
scipy
astropy
fitsio
galsim
lenstronomy
matplotlib
schwimmbad
metadetect
anacal
pydantic
hexalattice
# stackvana (if not on mac)
lsstdesc.weaklensingdeblending
lsstdesc-wl-shear-sims

flake8
black
pytest
